@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.button {
  background: $blue;
  color: white;
  font-weight: bold;
}

.btn-flat {
  color: white;
  padding: 7px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
  margin-bottom: 4px;
}

.btn-flat:hover {
  background: $dark-blue;
  color: white;
}
