// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "card";
@import "card-category";
@import "footer";
@import "navbar";

#page-container {
  position: relative;
  min-height: 140vh;
}

#foot_position {
  position: absolute;
  right: 0;
  bottom: -80px;
  left: 0;
}

.container-about {
  margin-top: 50vh;
  color: $blue;
  text-align: center;
}
